{% extends "base.html" %}

{% block title  %}
    create-user
{% endblock title %}
 

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">

        <div class="card">
            <div class="card-title">
                <h4>New User</h4>

            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" action="/create-user">
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">User Name</p>
                            <input name="name" type="text" class="form-control input-default" required="required">
                        </div>
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">identify</p>
                            <input name="identify" type="text" class="form-control input-default"
                                   required="required">
                        </div>
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">passward</p>
                            <input name="passward" type="text" class="form-control input-default" required="required">
                        </div>
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">email</p>
                            <input name="email" type="text" class="form-control input-default" required="required">
                        </div>
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">phone</p>
                            <input name="phone" type="text" class="form-control input-default" required="required">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


