{% extends "base.html" %}

{% block title  %}
    Sign in
{% endblock title %}
 

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">

        <div class="card">
            <div class="card-title">
                <h4>Sign In</h4>

            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" action="/signin?id={{ restauant['id'] }}">
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">identify</p>
                            <input name="identify" type="text" class="form-control input-default"
                                   required="required">
                        </div>
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">passward</p>
                            <input name="passward" type="text" class="form-control input-default" required="required">
                        </div>
                        <button type="submit" class="btn btn-primary">sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}